@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&family=Tiro+Gurmukhi&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Tiro Gurmukhi" serif;
  overflow-x: hidden;
}

h1 {
  font-family: "Oleo Script Swash Caps", cursive;
  color: #180f4A;
}

.navbar {
  height: 100px;
  background: white;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  position: fixed;
  width: 100%;
  font-weight: 700;
}
@media (max-width: 1000px) {
  .navbar {
    position: relative;
  }
}

.logo {
  flex: 20%;
  text-align: left;
  color: #180f4A;
  font-size: 22px;
  margin-left: 10%;
  text-align: center;
  margin: 0;
}
.menu {
  flex: 60%;
  text-align: right;
  margin-right: 10%;
}
@media (max-width: 1000px) {
  .menu {
    display: none;
  }
}
.menu a {
  color: #180f4A;
  font-size: 20px;
  padding: 20px 16px;
  text-decoration: none;
}
.menu a:hover {
  color: #FF2978;
  border-top: solid #180f4A;
}

#botao {
  background: #180f4A;
  color: white;
  border-radius: 5px;
  padding: 10px 25px;
  margin-left: 80px;
}
#botao:hover {
  border: none;
  background: #FF2978;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
@media (max-width: 1000px) {
  .header {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
  }
}

.headline {
  margin-left: 10%;
  flex: 40%;
}
@media (max-width: 1000px) {
  .headline {
    margin: 5% 10%;
  }
}
.headline h2 {
  color: #180f4A;
  font-weight: 900;
}
.headline p {
  color: gray;
  text-align: justify;
  padding: 20px 0;
}

.achou {
  letter-spacing: 15px;
}

.img-headline {
  margin-right: 10%;
  text-align: center;
}
.img-headline img {
  max-width: 90%;
}

.contact-btn {
  display: inline-block;
  background: #FF2978;
  padding: 20px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: bold;
}
.contact-btn:hover {
  background: #180f4A;
}

.section {
  margin: 10% 5%;
}

.podemos {
  text-align: center;
  color: #180f4A;
  font-size: 50px;
  font-weight: bold;
  margin-top: 100px;
}

.caixa {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
  font-weight: 900;
}
@media (max-width: 1150px) {
  .caixa {
    flex-flow: column wrap;
    align-items: center;
  }
}
.caixa div {
  margin: 90px 20px;
  padding: 30px;
  width: 26%;
  text-align: center;
  border: 1px solid #FF2978;
  color: #180f4A;
  border-radius: 10px;
  cursor: pointer;
  height: 350px;
  overflow: hidden;
}
@media (max-width: 1150px) {
  .caixa div {
    width: 80%;
    margin: 5%;
    height: auto;
  }
}
.caixa div:hover {
  background: #FF2978;
  color: white;
}
.caixa div:hover .sumir {
  display: none;
}
.caixa div:hover .oculto {
  display: block;
  padding: 10px;
}
.oculto {
  display: none;
}

.rodape {
  display: flex;
  border-top: 5px solid #FF2978;
  background-image: linear-gradient(180deg, #180f4A, #090422, black);
  color: white;
  height: 400px;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.rodape h3 {
  font-family: "Oleo Script Swash Caps", cursive;
  font-size: 35px;
  margin-bottom: 20px;
  margin-top: 50px;
}
.rodape p {
  margin-bottom: 100px;
}
.rodape img {
  width: 100px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

@media screen and (max-width: 1150px) {
  .img-headline {
    max-width: 40%;
  }
}
@media screen and (max-width: 1000px) {
  .menu {
    display: none;
  }
  footer img {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
